{% extends "base.html" %}
{% block content %}
    <center>
        <p id="message">{{message}}</p>
        <div id="shows"></div>
    </center>
</BODY>

<SCRIPT type="text/javascript">
var shows = [];
$(document).ready(function() {
    var uri = "static/showlist.json";
    $.getJSON(uri, crossDomain=true)
        .done(function (data) {
            show = data;
            $.each(data, function(key, drink) {
                var name = show['name'];
                var steps = show['steps'];
                $('#shows').append(`<div class="btn-group"> <button type="button" class="btn btn-danger btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">`+name+`
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" onclick="StartShow('`+key+`');">Start Show</a></li>
                                    </ul></div><br>`
                                    );
            });
            /*$('#drinks').append(`<a href="/newcustom">
                                 <button type="button" class="btn btn-primary">
                                  Create</button></a>`
                                );*/
        });
});


function StartShow(show) {
    $.ajax('start_show/'+show,{
        method: 'POST',
        complete: function(data) {
            console.log(data);
            location.reload();
        }
    });
    
}

/*function DrinkEdit(drink) {
    $.ajax('edit_drink/'+drink,{
       method: 'GET'     
    });
}

function DrinkDelete(drink) {
    $.ajax('delete_drink/'+drink,{
        method: 'POST',
        complete: function(data) {
            console.log(data);
            location.reload();
        }
    });
}*/


</SCRIPT>
{% endblock %}