{% extends "base.html" %}
{% block content %}
    <p id="message">{{message}}</p>
    <div id="drinks"></div>
</BODY>

<SCRIPT type="text/javascript">
var drinks = [];
$(document).ready(function() {
    var uri = "static/drinklist.json";
    $.getJSON(uri, crossDomain=true)
        .done(function (data) {
            drinks = data;
            $.each(data, function(key, drink) {
                var name = drink['name'];
                var ingredients = drink['ingredients'];
                $('#drinks').append('<div class="btn-group">\
                                    <button type="button" class="btn btn-danger btn-block">'+name+'</button>\
                                    <button type="button" class="btn btn-danger btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                    <span class="caret"></span>\
                                    <span class="sr-only">Toggle Dropdown</span>\
                                    </button>\
                                    <ul class="dropdown-menu">\
                                    <li><a href="#" onclick="DrinkPour("'+key+'");">Pour</a></li>\
                                    <li><a href="#" onclick="DrinkEdit("'+key+'");">Edit</a></li>\
                                    <li><a href="#" onclick="DrinkDelete(\''+key+'\');">Delete</a></li>\
                                    </ul>\
                                    </div><br>'
                                    );
            });
            $('#drinks').append('<a href="/newcustom">\
                                 <button type="button" class="btn btn-block btn-primary">\
                                  Create</button></a>'
                                );
        });
});


function DrinkPour(drink) {
    $.ajax('pour_drink/'+drink,{
        method: 'POST',
        complete: function(data) {
            console.log(data);
            location.reload();
        }
    });
    
}

function DrinkEdit(drink) {
    $.ajax('edit_drink/'+drink,{
       method: 'POST',
       data:  drinks        
    });
}

function DrinkDelete(drink) {
    $.ajax('delete_drink/'+drink,{
        method: 'POST',
        complete: function(data) {
            console.log(data);
            location.reload();
        }
    });
}


</SCRIPT>
{% endblock %}