{% extends "base.html" %}
{% block content %}
    <p id="message">{{message}}</p>
    <form id="drink" action="/newcustom" method="post">
        <label>Name:&nbsp<input type="text" name="name" required></label>
        <div id="ingredients">
            <p>
                <label for="ingredient">
                    <select id="liquorlist" name="liquor">
                    </select>
                    <input type="number" min="0" id="ingredient" name="shot" placeholder="# of shots" required />
                </label>
            </p>
        </div>
        <button type="button" id="addScnt">Add another ingredient</button>
        <br>
        <input type="submit">
    </form>
</BODY>
<SCRIPT type="text/javascript">
$(document).ready(function() {
        var uri = "static/pumps.json";
        var drinks = [];
        $.getJSON(uri, crossDomain=true)
            .done(function (data) {
                $.each(data, function(key, item) {
                    drinks.push(key);
                });
                PopulateDrinks(drinks, 'liquorlist');
        });
        var scntDiv = $('#ingredients');
        var i = 1;
        
        $('#addScnt').on('click', function() {
                var item = "ingredient" + i;
                $(`<p>
                        <label for="ingredient">
                            <select id="`+item+`" name="liquor">
                            </select>
                            <input type="number" min="0" name="shot" placeholder="# of shots" required />
                            <button type="button" onclick="$(this).parents('p').remove();">Remove</button>
                        </label>
                    </p>`).appendTo(scntDiv);
                PopulateDrinks(drinks, item);
                i++;
                return false;
        });
});

function PopulateDrinks(drinks,id) {
    console.log(drinks);
    $(id).empty();
    $.each(drinks, function(key, item) {
       $('<option>',{value: item, text: item}).appendTo("#"+id);
    });
}

</SCRIPT>
{% endblock %}