{% extends "base.html" %}
{% block content %}
    <p id="message">{{message}}</p>
    <form id="drink" action="/newcustom" method="post" class="form">
        <label>Name:&nbsp<input type="text" name="name" class="form-control" required></label>
        <div id="ingredients">
            <p>
                <div id="form-group">
                <label for="ingredient">
                    <select id="liquorlist" name="liquor" class="form-control">
                    </select>
                    <input class="form-control" type="number" min="0" id="ingredient" name="shot" placeholder="# of shots" required />
                </label>
                </div>
            </p>
        </div>
        <button type="button" class="btn" id="addScnt">Add another ingredient</button>
        <br>
        <button type="submit" class="btn">Submit</button>
    </form>
</BODY>
<SCRIPT type="text/javascript">
$(document).ready(function() {
        var uri = "/static/pumps.json";
        var drinks = [];
        $.getJSON(uri, crossDomain=true)
            .done(function (data) {
                $.each(data, function(key, item) {
                    drinks.push(key);
                });
                PopulateDrinks(drinks, 'liquorlist');
        });
        var scntDiv = $('#ingredients');
        var i = 1;
        
        $('#addScnt').on('click', function() {
                var item = "ingredient" + i;
                $(`<div class="form-group"><p>
                    <label for="ingredient">
                        <select id="`+item+`" name="liquor" class="form-control">
                        </select>
                        <input class="form-control" type="number" min="0" name="shot" placeholder="# of shots" required />
                        <button type="button" class="btn" onclick="$(this).parents('p').remove();">Remove</button>
                    </label></p>
                    </div>`).appendTo(scntDiv);
                PopulateDrinks(drinks, item);
                i++;
                return false;
        });
});

function PopulateDrinks(drinks,id) {
    console.log(drinks);
    $(id).empty();
    $.each(drinks, function(key, item) {
       $('<option>',{value: item, text: item}).appendTo("#"+id);
    });
}

</SCRIPT>
{% endblock %}